.body{
    display: flex;
    flex-direction: column;
    width:90%;
}

.title{
    color:#617dcd;
    font-size: 1.2rem;
    align-self: center;
    margin:1rem 0 1rem 0;
}

.addTask{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #031956;
    font-size:1.2rem;
    transition: all 0.5s;
}

.addTaskWrapper{
    display: flex;
    align-items: center;
    padding:5px 0 5px 0;
    width:90%;
}

.saveBtn{
    margin: 0 10px 0 10px;
    color:#fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.saveBtn:hover{
    color:#46f0bd
}

.saveBtn svg{
    width: 30px;
    height: 30px;
}

.hr{
    margin:20px 0 20px 0;
}

.editText{
    color:#fff; 
    margin-left:20px;
    background: inherit;
    border:none;
    resize: none;
    font-size:1.2rem;
    display: block;
    overflow:hidden;
    outline:none;
    transition:all 0.3s;
    width:100%;
}

.taskList{
    display: flex;
    flex-direction: column;
}

@media (min-width:768px){
    .body{
        width: 500px;
    }
    .taskList{
        display: grid;
        grid-template-columns: 300px 300px;
        gap:20px;
        justify-content: center;
    }
}

@media (min-width:1024px){
    .taskList{
        grid-template-columns: 450px 450px;
    }
}